# npm
node_modules
package-lock.json
*.log
*.gz
.env
# Coveralls
.nyc_output
coverage

ca.pem
# Benchmarking
benchmarks/graphs

# ignore additional files using core.excludesFile
# https://git-scm.com/docs/gitignore