<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/style_dashboard.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="sidebar">
      <img src="/src/logo.svg" />
      <div class="links">
        <a href="/dashboard"
          ><img
            src="/src/overview.svg"
            class="overview"
            data-hover-img="/src/overview_bg.svg"
          />Overview</a
        >
        <a href="/dashboard/settings"
          ><img
            src="/src/settings.png"
            class="overview"
            data-hover-img="/src/settings_bg.svg"
          />Settings</a
        >
        <a href="/"
          ><img
            src="/src/logout.svg"
            class="overview"
            data-hover-img="/src/logout_bg.svg"
          />Logout</a
        >
      </div></div>