<%- include('header.ejs') %> 
    <section id="Overview" >
        <h1 class="heading"> Dashboard</h1>
        <hr>
        <h1 class="overview_txt">Overview</h1>
        <div class="overview">
            
            <div class="card balance"> <img src="src/Card_Wallet.png" class="card-img" data-hover-img="src/Card_Wallet_bg.png"> <br>Balance</div>
            <div class="card income"> <img src="src/Dollar_Coin.png" class="card-img" data-hover-img="src/Dollar_Coin_bg.png" ><br>Income</div>
            <div class="card expenses"> <img src="src/Paycheque.png" class="card-img" data-hover-img="src/Paycheque_bg.png"><br>Expenses</div>
            <div class="card savings"> <img src="src/Money_Box.png" class="card-img" data-hover-img="src/Money_Box_bg.png" ><br>Savings</div>
            <div class="lg_card all_expenses">All Expenses</div>
            <div class="large-card transaction">Transaction History</div>
        </div>
    </section>
    <%- include('footer.ejs') %>
