body {
  background-color: #001d21;
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover,
a.active {
  color: #85ec68;
  cursor: pointer;
}

button {
  width: 130px;
  height: 37.279px;
  flex-shrink: 0;
  background: none;
  outline: none;
  box-shadow: none;
  border-radius: 8.603px;
  border: 1.576px solid #fff;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 11.471px;
  font-weight: 800;
}

.bt_as {
  margin-right: 18px;
  width: 83.447px;
  height: 23.93px;
  flex-shrink: 0;
  background: #85ec68;
  outline: none;
  box-shadow: none;
  border-radius: 30.306px;
  border: none;
  color: #002226;
  font-family: "Inter", sans-serif;
  font-size: 7.363px;
  font-weight: 800;
}

button:hover,
.bt_as:hover {
  background-color: #85ec68;
  color: #002226;
  border: none;
  cursor: pointer;
}

.bt_as:hover {
  background: none;
  color: #fff;
  border: 1.576px solid #fff;
}

.navbar_bs {
  display: flex;
  align-items: center;
  gap: 239px;
  margin-top: 42px;
  justify-content: center;
}

.navbar_as {
  position: fixed;
  top: 42px;
  padding: 1px;
  border-radius: 25px;
  width: 610px;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background: linear-gradient(153deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(21px);
  z-index: 999;
}

.links,
.links_as {
  display: flex;
  align-items: center;
  gap: 42.238px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.links {
  font-size: 21.687px;
}

.links_as {
  font-size: 14.252px;
}

.logo_as {
  width: 69.432px;
  height: 19.431px;
  margin-left: 18px;
}

.heading_txt {
  display: flex;
  justify-content: center;
  margin-top: 108.52px;
}

.card {
  position: absolute;
  transform: rotate(10.35deg);
  left: 415px;
  top: -50px;
}

.txt,
.txt_01 {
  color: #fff;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 126.13px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.du {
  padding-left: 103px;
}

.fin {
  display: flex;
  justify-content: center;
  margin-top: -20px;
}

.description,
.ptxt.description {
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: normal;
  margin-left: auto;
  margin-right: auto;
}

.description {
  max-width: 975px;
  font-size: 22.615px;
}

.ptxt.description {
  width: 929px;
  margin-top: 34.41px;
  font-size: 22.615px;
}

.bt_gt {
  display: block;
  background-color: #85ec68;
  color: #002226;
  border: none;
  cursor: pointer;
  width: 165px;
  height: 52px;
  font-family: "Inter", sans-serif;
  font-size: 14.559px;
  font-weight: 800;
  line-height: normal;
  margin-left: auto;
  margin-right: auto;
  margin-top: 27px;
}

.bt_gt:hover {
  background: none;
  outline: none;
  box-shadow: none;
  border-radius: 8.603px;
  border: 1.576px solid #fff;
  color: #fff;
}

.earth,
.bg {
  display: block;
  width: 1137px;
  margin-left: auto;
  margin-right: auto;
}

.bg {
  position: absolute;
  bottom: 0;
  z-index: -10;
  left: 50%;
  transform: translate(-50%, 0%);
  height: 540px;
  border-radius: 1137px 1137px 0 0;
  border: 19.159px solid #002124;
  box-shadow: 0px -75px 225px 50px #384F53;
}

.sd {
  display: block;
  position: absolute;
  background: linear-gradient(0deg, #002124 2.29%, rgba(0, 33, 36, 0) 72.17%);
  width: 1440px;
  height: 327px;
  left: 0;
  right: 0;
  margin: auto;
}

.feature_cards,
.price_cards {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.feature_cards {
  width: 1065px;
  flex-flow: row wrap;
  gap: 84px;
  row-gap: 49px;
}

.fcards,
.pcard {
  border-radius: 16px;
  backdrop-filter: blur(21px);
}

.fcards {
  width: 299px;
  height: 182px;
  background: linear-gradient(153deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
}

.price_cards {
  width: 1119px;
  height: 500px;
  align-items: center;
  justify-content: space-between;
  margin-top: 34px;
}

.pcard {
  width: 297.026px;
  height: 415.836px;
  border-radius: 19.01px;
  background: linear-gradient(153deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(24.950178146362305px);
}

.pcard:hover {
  width: 333.857px;
  height: 467.4px;
}

.demo {
  margin-top: 79.71px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  height: 73.77px;
  border-radius: 36.885px;
  background: linear-gradient(153deg, rgba(133, 236, 104, 0.50) 0%, rgba(133, 236, 104, 0.00) 100%);
  backdrop-filter: blur(30.983606338500977px);
  margin-left: auto;
  margin-right: auto;
}

.book {
  width: 153.447px;
  height: 44.003px;
  font-size: 13.539px;
  font-weight: 800;
}

.demo_txt {
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 22.615px;
  font-weight: 500;
  line-height: normal;
  margin-left: 25px;
}

.qt,
.ptxt {
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: normal;
  margin-left: auto;
  margin-right: auto;
}

.qt {
  width: 908px;
  font-size: 30px;
  margin-top: 49px;
}

.ptxt {
  font-size: 37.195px;
}

#footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 484px;
  background-color: #030208;
}

.footer_logo {
  width: 254.694px;
  height: 71.141px;
  margin-top: 88.59px;
  margin-left: 188px;
}

.fintrack_1 {
  position: absolute;
  z-index: 1;
  color: #fff;
  font-family: Montserrat;
  top: 25px;
  font-size: 22.264px;
  font-weight: 600;
  line-height: normal;
  margin-left: 200px;
}

.copyright {
  width: 1064px;
  height: 74px;
  border-radius: 16px;
  background: rgba(90, 95, 88, 0.50);
  backdrop-filter: blur(30.983606338500977px);
  color: #878787;
  display: flex;
  align-items: center;
  padding-left: 10px;
  text-align: left;
  font-family: Montserrat;
  font-size: 22.615px;
  font-weight: 500;
  line-height: normal;
  margin-top: 210px;
  margin-left: auto;
  margin-right: auto;
}
