body {
  margin: 0;
  background-color: #001d21;
  display: flex;
  font-family: "Inter", sans-serif;
}

.sidebar {
  width: 247px;
  height: 100vh;
  padding: 21px 17.5px 0 25px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #064c4e;
  position: sticky;
}

.sidebar .links {
  margin-top: 112px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.sidebar .links a {
  display: flex;
  align-items: center;
  justify-content: left;
  line-height: 47px;
  width: 204px;
  height: 47px;
  border-radius: 10px;
  color: #405052;
  text-decoration: none;
  font-size: 22.615px;
  font-weight: 500;
}

.sidebar img {
  width: 116px;
  margin-left: 20px;
}

.sidebar .links a img {
  width: 27px;
  margin-right: 9px;
}

.sidebar a.active,
.sidebar a:hover {
  background-color: #3ccf4e;
  color: #002226;
  font-size: 19.95px;
  font-weight: 800;
}

.content {
  margin-left: 200px;
  padding: 20px;
}

.heading,
.overview_txt {
  color: #405052;
  font-size: 26.305px;
  font-weight: 600;
  padding-left: 26.5px;
}

.overview_txt {
  color: #d1d2d2;
}

.heading {
  font-size: 29.077px;
  padding-top: 21px;
  padding-bottom: 21px;
  margin: 0;
}

hr {
  border: none;
  width: 1150px;
  background-color: #064c4e;
  height: 1px;
  margin: 0;
}

.overview {
  padding-left: 26.5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 19.17px;
}

.card {
  width: 268.222px;
  height: 191.82px;
  background: #282f35;
  color: #e5e6e7;
  backdrop-filter: blur(35.65px);
  border-radius: 8.488px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 22.615px;
  font-weight: 500;
}

.card img {
  margin-bottom: 21px;
}

.card:hover {
  background-color: #bafc59;
  color: #002226;
  font-size: 19.95px;
  font-weight: 800;
}

.large-card,
.lg_card {
  border-radius: 16px;
  background: #282f35;
  color: #d1d2d2;
  padding: 20px;
  font-size: 26.305px;
  font-weight: 600;
}

.lg_card {
  grid-column: span 2;
  backdrop-filter: blur(21px);
  text-align: left;
  margin-right: 20px;
  height: 260px;
}

.large-card {
  grid-column: span 4;
  border: 1px solid #064c4e;
  text-align: left;
  height: 260px;
}

.h_setting,
.user-profile h3,
.portfolio h3 {
  color: #d1d2d2;
  font-size: 26.305px;
  font-weight: 600;
  margin: 0;
  margin-top: 18px;
  margin-left: 26.5px;
  margin-bottom: 11px;
}

.user-profile hr,
.portfolio hr {
  margin-left: 26.5px;
  width: 1097px;
}

.form-group {
  display: grid;
  grid-template-columns: 2fr 2fr;
  margin-top: 10px;
  padding-left: 26.5px;
  color: #d1d2d2;
  row-gap: 46px;
  width: 1080px;
}

.form-group label {
  font-size: 20px;
  font-weight: 400;
}

.form-group label div {
  font-size: 18px;
  font-weight: 300;
}

.form-group input {
  width: 608px;
  height: 47px;
  background: none;
  border-radius: 10px;
  border: 1px solid #064c4e;
  color: #d1d2d2;
}

.form-group input::placeholder {
  padding-left: 10px;
}

.form-actions {
  display: flex;
  justify-content: right;
  gap: 38px;
  grid-column: 2;
}

.form-actions button {
  width: 180px;
  height: 40px;
  border-radius: 10px;
  background: none;
  border: 1px solid #85ec68;
  font-size: 19px;
  font-weight: 600;
  color: #85ec68;
}

.form-actions button:hover {
  background-color: #85ec68;
  color: #002226;
  font-size: 19.95px;
  font-weight: 600;
}

.profile_photo {
  display: flex;
  margin-top: 18px;
  padding-left: 26.5px;
  color: #d1d2d2;
  gap: 27px;
  margin-bottom: 61px;
  align-items: center;
}

.h_name{
  font-weight: 600;
  margin: 0;
}
.h_username {
  margin: 0;
  font-weight: 300;
}
